<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
xmlns:sec="http://www.springframework.org.shema.security"

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <!--    след. строчка для подключения стилей css ссылкой через thymeleaf (th)-->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    </script>
    <!--    на языке jquery-->
    <script>
        function addProduct(){
            $.ajax({
                dataType: "json",
                type: 'get',
                url: "/dogs"
            }).done(function (data){
                console.log(data);

                //dropdown -выпадающий список
                var $dropdown = $("#dropdown");
                $.each(data, function (index, value){
                    $('#dog').val($('#dog').val()+"; name: "+value.name + " id: " + value.id);
                    $dropdown.append($("<option />").val(value.id).text(value.name));
                });
            }).fail(function (data){
                if (console && console.log){
                    console.log("Error data: ", data);
                }
            });
        };
    </script>

</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Age</th>
        <th>Name</th>
        <th>Type</th>
    </tr>
    <tr th:each="dog : ${dogs}">
        <td th:utext="${dog.id}">...</td>
        <td th:utext="${dog.age}">...</td>
        <td th:utext="${dog.name}">...</td>
        <td th:utext="${dog.type}">...</td>
    </tr>
</table>
<!--все поля: добавить город, ошибка доступны только для пользователя ADMIN-->
    <!--    @ значит куда мы делаем запрос-->
    <!--    $ значит значение, котор. добавляем-->
    <form th:action="@{/addDog}"
          th:object="${addDog}" method="POST">
        Age:
        <input type="number" th:field="*{age}"/>
        </br>
        Name:
        <div th:if="${#fields.hasErrors('name')}">
            <span th:errors="*{name}" class="error"></span>
        </div>
        <input type="text" th:field="*{name}"/>
        </br>
        Type:
        <input type="text" th:field="*{type}"/>
        </br>
        <input type="submit" value="Добавить собаку"/>
    </form>



<input type="button" id="send" name="вывести собак" value="нажать" />
<input type="text" id="dog" size="255"/>
<select id="dropdown">
</select>

<script>
    //при загрузке страницы добавляет кнопку, к которой прикрепляется функция addProduct (верхняя часть кода)
    $(document).ready(function (){
        $('#send').click(function (){
            addProduct();
        });
    })
</script>
</body>
<!--создаем кнопку logout для удалении истории пользователя-->
<!--<form method="post" th:action="@{/logout}">-->
<!--    <div>-->
<!--        <button class="btn logout" type="submit">Logout</button>-->
<!--    </div>-->
<!--</form>-->

</html>